services:
  php:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        USER_ID: ${USER_ID:-1000}
        GROUP_ID: ${GROUP_ID:-1000}
    container_name: symfony_php
    volumes:
      - .:/var/www/symfony
    networks:
      - symfony_network
    depends_on:
      - mariadb

  nginx:
    image: nginx:alpine
    container_name: symfony_nginx
    ports:
      - "8080:80"
    volumes:
      - .:/var/www/symfony
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
    networks:
      - symfony_network
    depends_on:
      - php

  mariadb:
    image: mariadb:11.2
    container_name: symfony_mariadb
    environment:
      MYSQL_ROOT_PASSWORD: vdb123
      MYSQL_DATABASE: symfony_db
      MYSQL_USER: symfony_user
      MYSQL_PASSWORD: vdb123
    ports:
      - "3308:3306"
    healthcheck:
      test: [ "CMD", "healthcheck.sh", "--connect", "--innodb_initialized" ]
      start_period: 60s
      interval: 10s
      timeout: 5s
      retries: 3
    volumes:
      - mariadb_data:/var/lib/mysql
    networks:
      - symfony_network

  phpmyadmin:
    image: phpmyadmin:latest
    container_name: symfony_phpmyadmin
    environment:
      PMA_HOST: symfony_mariadb
      PMA_USER: symfony_user
      PMA_PASSWORD: vdb123
    ports:
      - "8081:80"
    networks:
      - symfony_network
    depends_on:
      - mariadb

networks:
  symfony_network:
    driver: bridge

volumes:
  mariadb_data:
